# Python
__pycache__/
.pytest_cache/
*.pyc

# Foundry
contracts/lib/
contracts/out/
contracts/cache/

# Unreal
game/**/Binaries/
game/**/Intermediate/
game/**/Saved/
game/**/DerivedDataCache/
game/**/Content/
*.sln

# OS
.DS_Store
